<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>       
  <connectionStrings>
    <!--<add name="conserver" connectionString="SERVER=192.168.222.60;DATABASE=absensi;UID=local;PASSWORD=Pa55word;"/>-->
  </connectionStrings>
  
    <appSettings>
        <add key="dbsqlite" value="Data Source=fpDB.s3db;Version=3;New=False;Compress=True;"/>
        <add key="lastBackUp" value="2016-01-01 00:00:00"/>
        <add key="setTanggalBackUp" value="15"/>
        <add key="commPass" value="12369"/>
        <add key="port" value="4370"/>
        <add key="cabang" value="205"/>
    </appSettings>

</configuration>
